---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<section class='relative'>
		<img src='/golfer-home.jpg' alt='' class='h-screen w-screen object-cover' />

		<section class='absolute bottom-12 left-0 right-0 px-4 md:px-8 flex flex-col md:flex-row items-start md:items-center md:justify-between gap-4 text-sand z-10'>
			<p class='text-lg'>
				Elevate Your Game with Precision Gear and Style, Crafted for Golfers Who Aspire to Excel.
			</p>
			<a
				href=''
				class='uppercase bg-sand hover:opacity-80 focus:opacity-80 transition-all duration-700 ease-in text-black text-sm font-semibold px-5 md:px-3 py-2 md:py-1 rounded-3xl flex items-center justify-center gap-1'
			>
				<span class="text-nowrap">Shop now</span>
				<span class='p-1 rounded-full bg-olive'></span>
			</a>
		</section>

		<div class='absolute inset-0 bg-gray-900 opacity-30 pointer-events-none' />
	</section>

	<section class=" bg-ivory text-center flex flex-col justify-center md:items-center gap-3 h-screen max-md:w-screen">
		<div class="px-4 md:px-8 flex flex-col justify-center md:items-center gap-3">
			<h2 class='text-2xl italic dancing-script'>La Réserve Golf</h2>
			<p class='text-lg'>We offer a curated selection of high quality gear, apparel, and accessories to elevate your game.</p>
	
			<a
				href='#'
				class='block uppercase bg-olive text-sand hover:opacity-80 focus:opacity-80 transition-all duration-700 ease-in text-sm font-semibold px-5 md:px-3 py-3.5 md:py-1 rounded-3xl'
			>Learn more</a>
		</div>

		<section class="pt-12 pb-1.5 px-3 snap-x snap-mandatory flex max-md:overflow-x-scroll">
			<article class="relative snap-center snap-always h-52 w-52 rounded-full shrink-0">
				<img src="/golfer-home.jpg" alt="" class="h-52 w-52 object-cover rounded-full" />
				<h2 class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center text-ivory z-10 uppercase text-wrap text-2xl font-semibold px-12">Golf Clubs</h2>
				<div class='absolute inset-0 bg-gray-900 opacity-40 pointer-events-none rounded-full' />
			</article>
			<article class="relative snap-center snap-always h-52 w-52 rounded-full shrink-0">
				<img src="/golfer-home.jpg" alt="" class="h-52 w-52 object-cover rounded-full" />
				<h2 class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center text-ivory z-10 uppercase text-wrap text-2xl font-semibold px-12">Bags & Trolleys</h2>
				<div class='absolute inset-0 bg-gray-900 opacity-40 pointer-events-none rounded-full' />
			</article>
			<article class="relative snap-center snap-always h-52 w-52 rounded-full shrink-0">
				<img src="/golfer-home.jpg" alt="" class="h-52 w-52 object-cover rounded-full" />
				<h2 class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center text-ivory z-10 uppercase text-wrap text-2xl font-semibold px-12">Clothings</h2>
				<div class='absolute inset-0 bg-gray-900 opacity-40 pointer-events-none rounded-full' />
			</article>
			<article class="relative snap-center snap-always h-52 w-52 rounded-full shrink-0">
				<img src="/golfer-home.jpg" alt="" class="h-52 w-52 object-cover rounded-full" />
				<h2 class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center text-ivory z-10 uppercase text-wrap text-2xl font-semibold px-12">Golf Balls</h2>
				<div class='absolute inset-0 bg-gray-900 opacity-40 pointer-events-none rounded-full' />
			</article>
			<article class="relative snap-center snap-always h-52 w-52 rounded-full shrink-0">
				<img src="/golfer-home.jpg" alt="" class="h-52 w-52 object-cover rounded-full" />
				<h2 class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center text-ivory z-10 uppercase text-wrap text-2xl font-semibold px-12">Apparatus</h2>
				<div class='absolute inset-0 bg-gray-900 opacity-40 pointer-events-none rounded-full' />
			</article>
		</section>
	</section>

	<section class="h-screen flex flex-col md:grid md:grid-cols-2">
		<div class="md:order-2 flex-1 shrink-0 h-full w-full flex flex-col items-center justify-center gap-5 text-center px-7 md:px-30 bg-sand md:text-xl">
			<h3 class="dancing-script">Payment</h3>
			<p class="uppercase">Secure and convenient</p>
			<p class="max-md:text-sm">Choose from major credit cards such as Visa, MasterCard and American Express, or opt for digital payments via PayPal and Apple Pay.</p>
			<p>Rest assured, all transactions are encrypted for your protection.</p>

			<a href="#" class="flex items-center gap-2">
				<span class="uppercase font-bold">Learn more</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
				</svg>
			</a>
		</div>
		<div class="md:order-1 flex-1 shrink-0 h-[50vh]">
			<img src='/golfer-home.jpg' alt='' class='object-cover h-full md:h-screen w-full' />
		</div>
	</section>

	<section class="h-screen flex flex-col md:grid md:grid-cols-2">
		<div class="flex-1 shrink-0 h-full w-full flex flex-col items-center justify-center gap-5 text-center px-7 md:px-30 bg-sand md:text-xl">
			<h3 class="dancing-script">Delivery</h3>
			<p class="uppercase">Fast and reliable</p>
			<p class="max-md:text-sm">Enjoy swift, reliable shipping on all purchases.</p>
			<p>We offer expedited delivery options to meet your needs with tracking from our store to your doorsteps.</p>

			<a href="#" class="flex items-center gap-2">
				<span class="uppercase font-bold">Learn more</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
				</svg>
			</a>
		</div>
		<div class="md:order-1 flex-1 shrink-0 h-[50vh]">
			<img src='/golfer-home.jpg' alt='' class='object-cover h-full md:h-screen w-full' />
		</div>
	</section>

	<section class="pt-12 px-7 w-screen">
		<div class="flex items-center justify-between">
			<h3 class="uppercase font-bold">New Items</h3>
			<a href="#" class="uppercase flex items-center gap-1">
				<span>Full Catalog</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
				</svg>
			</a>
		</div>

		<section class="pt-7 inline-flex items-center gap-4 overflow-x-auto">
			<article class="uppercase border-b border-b-gold">All</article>
			<article class="uppercase border-b border-b-sand">Golf Clubs</article>
			<article class="uppercase border-b border-b-sand">Golf Clothing</article>
			<article class="uppercase border-b border-b-sand">Shoes</article>
		</section>

		<section class="pt-12 pb-7 snap-x snap-mandatory flex gap-3 overflow-x-scroll">
			<article class="snap-center snap-always h-80 w-60 shrink-0 flex flex-col">
				<h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
				<img src="/golfer-home.jpg" alt="" class="order-1 h-[90%] w-[90%] object-cover" />
				<p class="order-3 font-bold">$130</p>
				<p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
			</article>
			<article class="snap-center snap-always h-80 w-60 shrink-0 flex flex-col">
				<h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
				<img src="/golfer-home.jpg" alt="" class="order-1 h-[90%] w-[90%] object-cover" />
				<p class="order-3 font-bold">$130</p>
				<p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
			</article>
			<article class="snap-center snap-always h-80 w-60 shrink-0 flex flex-col">
				<h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
				<img src="/golfer-home.jpg" alt="" class="order-1 h-[90%] w-[90%] object-cover" />
				<p class="order-3 font-bold">$130</p>
				<p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
			</article>
			<article class="snap-center snap-always h-80 w-60 shrink-0 flex flex-col">
				<h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
				<img src="/golfer-home.jpg" alt="" class="order-1 h-[90%] w-[90%] object-cover" />
				<p class="order-3 font-bold">$130</p>
				<p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
			</article>
			<article class="snap-center snap-always h-80 w-60 shrink-0 flex flex-col">
				<h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
				<img src="/golfer-home.jpg" alt="" class="order-1 h-[90%] w-[90%] object-cover" />
				<p class="order-3 font-bold">$130</p>
				<p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
			</article>
			<article class="snap-center snap-always h-80 w-60 shrink-0 flex flex-col">
				<h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
				<img src="/golfer-home.jpg" alt="" class="order-1 h-[90%] w-[90%] object-cover" />
				<p class="order-3 font-bold">$130</p>
				<p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
			</article>
			<article class="snap-center snap-always h-80 w-60 shrink-0 flex flex-col">
				<h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
				<img src="/golfer-home.jpg" alt="" class="order-1 h-[90%] w-[90%] object-cover" />
				<p class="order-3 font-bold">$130</p>
				<p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
			</article>
			<article class="snap-center snap-always h-80 w-60 shrink-0 flex flex-col">
				<h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
				<img src="/golfer-home.jpg" alt="" class="order-1 h-[90%] w-[90%] object-cover" />
				<p class="order-3 font-bold">$130</p>
				<p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
			</article>
		</section>

		<div class="flex justify-center pt-15">
			<a href="#" class="uppercase flex items-center gap-1">
				<span>Full Catalog</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
				</svg>
			</a>
		</div>
	</section>

	<section class="py-15 flex flex-col items-center gap-3">
		<h3 class="dancing-script text-2xl pb-3">La Réserve Golf</h3>

		<div class="flex flex-col items-center gap-4">
			<p class="w-85 text-center">Stay with us and get exclusive discounts and offers</p>
			<div class='relative'>
				<input
					type='text'
					id='search'
					class='bg-sand ps-4 pe-8 md:pe-6.5 py-1.5 focus:outline-none rounded-3xl'
				/>
				<span class='absolute right-2.5 top-0 bottom-0 flex flex-col justify-center'>
					<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
					</svg>
				</span>
			</div>
		</div>
	</section>
</Layout>
