<section class="pt-20 px-4 md:px-7 max-w-7xl mx-auto w-full">
    <div class="flex items-center justify-between">
        <h3 class="uppercase font-bold">New Items</h3>
        <a href="#" class="uppercase flex items-center gap-1">
            <span>Full Catalog</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
            </svg>
        </a>
    </div>

    <section class="pt-7 flex items-center gap-4 overflow-x-auto pb-2">
        <article class="uppercase border-b border-b-gold shrink-0">All</article>
        <article class="uppercase border-b border-b-sand shrink-0">Golf Clubs</article>
        <article class="uppercase border-b border-b-sand shrink-0">Golf Clothing</article>
        <article class="uppercase border-b border-b-sand shrink-0">Shoes</article>
    </section>

    <section class="pt-12 pb-7 snap-x snap-mandatory flex gap-4 overflow-x-auto">
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Accessories Pack</h4>
            <img src="/golf-apparatus.avif" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$150</p>
            <p class="order-4 uppercase pt-3.5">By Bridgestone</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golf-ball.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">By Titleist</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clothing by Asics</h4>
            <img src="/golf-clothing.avif" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">M, L, XL</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golf-club.avif" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Trolley and Bag</h4>
            <img src="/golf-trolley-and-bag.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">TaylorMade</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$145</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
        <article class="snap-center snap-always w-60 shrink-0 flex flex-col">
            <h4 class="order-2 z-10 uppercase font-semibold pt-2">Golf Clubs</h4>
            <img src="/golfer-home.jpg" alt="" class="order-1 h-70 w-full object-cover" />
            <p class="order-3 font-bold">$130</p>
            <p class="order-4 uppercase pt-3.5">Right Hand, 20 Grip</p>
        </article>
    </section>

    <div class="flex justify-center pt-12 pb-7">
        <a href="#" class="uppercase flex items-center gap-1">
            <span>Full Catalog</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
            </svg>
        </a>
    </div>
</section>