<section class='py-15 flex flex-col items-center gap-3 px-4'>
    <h3 class='dancing-script text-2xl pb-3'>La Réserve Golf</h3>

    <div class='flex flex-col items-center gap-4 max-w-md w-full'>
        <p class='text-center'>
        Stay with us and get exclusive discounts and offers
        </p>
        <div class='relative w-full max-w-xs'>
            <input
                type='text'
                id='search'
                class='bg-sand ps-4 pe-8 md:pe-6.5 py-1.5 focus:outline-none rounded-3xl w-full'
            />
            <span
                class='absolute right-2.5 top-0 bottom-0 flex flex-col justify-center'
            >
                <svg
                class='w-5 h-5'
                aria-hidden='true'
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                fill='none'
                viewBox='0 0 24 24'
                >
                <path
                    stroke='currentColor'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    stroke-width='2'
                    d='M19 12H5m14 0-4 4m4-4-4-4'></path>
                </svg>
            </span>
        </div>
    </div>
</section>
