---
import '../styles/global.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Golf E-Commerce</title>
  </head>
  <body class="relative">
    <header class="fixed top-0 right-0 left-0 z-50">
      <Header />
    </header>
    <slot />
	  <Footer />
  </body>
</html>

<!-- <style>
  @import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

  body {
    font-family: 'Funnel Display', sans-serif;
    font-optical-sizing: auto;
    /* font-style: normal; */
  }
</style> -->

<!-- <style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style> -->
